  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar ul li {
    margin-bottom: 10px;
  }
  
  .sidebar ul li a {
    text-decoration: none;
    color: #000;
    display: block;
    padding: 10px;
  }
  
  .sidebar ul li a.active {
    font-weight: bold;
  }

 .active {
    background-color: #848080; /* Set your desired background color */
    
  }
  
  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: auto; 
  }
  
  .content h1 {
    margin-bottom: 20px;
  }

  .page-container {
    display: flex;
    height: 100vh;
  }
  
  .sidebar {
    width: 210px;
    background-color: #f0f0f0;
    height: 100%;
    overflow-y: auto;
  }

  .page-container {
    display: flex;
    height: 100vh;
  }
  
  .sidebar a {
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    color: #333;
    border: 2px solid #ddd;
    border-radius: 5px;
  }
  
  .sidebar a:hover {
    background-color: #bcb9b9;
  }

  /* custom-container.css */
.container.narrow-container {
  max-width:500x; /* Adjust the width to your preference */
  width: 80%;
}

    
.custom-button {
  width: 210px; /* Change this value to your preferred button width */
}