.get-salary input[type="number"] {
    /* Adjust the width as needed */
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.table-container {
    margin: 0 3%; /* 10% margin on top, bottom, left, and right */
    width: 94%; /* 100% - 3% left margin - 3% right margin */
    border-radius: 10px;
}

.salary-label {
    font-weight: bold; /* Make the labels bold */
    color: #333; /* Set label text color */
}

.salary-input {
    padding: 5px; /* Add padding to the input fields */
    border: 1px solid #ccc; /* Add a border to the input fields */
    border-radius: 5px; /* Add border radius */
    width: 100px; /* Set the width of the input fields */
}

.get-salary {
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Vertically align items in the flex container */
}
