/* Table styles */
.custom-table {
  width: 95%;
  margin: 3% auto;
}

.custom-table th {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.custom-table td {
  padding: 10px;
}

/* Alternate row colors */
.custom-table .even-row {
  background-color: #f2f2f2;
}

.custom-table .odd-row {
  background-color: #e0e0e0;
}

