/*Report5.css*/

.report_background{
    background-color: rgb(231, 232, 238);
    background-image: linear-gradient(15deg, #d2e1e9 0%, #b8bbbb 100%);
    position: relative;
    overflow: hidden;
    padding-top: 10px;
  }

    .select_supervisor_part { 
      text-align: center;
      justify-self: left;
      margin-left: 500px;
      margin-right: 500px;
      padding: 20px;
      border: 1px solid #eadede;
      background-color: #edf2f1;
      justify-content: center; 
      align-self: center;
      border-radius: 10px;
  }

    .headers {
      font-family: "Poppins", sans-serif;
      text-align: center;
      font-weight: bold;
      font-size: 28px;
      margin-bottom: 20px;
  }

    .headers2 {
      font-family: "Poppins", sans-serif;
      text-align: center;
      font-weight: bold;
      font-size: 24px;
      margin-bottom: 20px;
      align-content: center;
  }

    .label_line {
      font-size: 18px;
      height: 50px;
      margin-right: 2%;
      font-weight: bold;
      align-content: center;
  }

    .select {
      width: 100%;
      padding: 10px;
      margin: 10px;
  }

    .buttons {
      background-color: #007bff;
      color: white;
      border: none;
      width: 200px;
      padding: 10px 30px;
      cursor: pointer;
      margin-top: 10px;
      border-radius: 8px;
  }

    .headers2 {
      font-size: 20px;
      margin-top: 20px;
      justify-content: center;
  }

   .SubordinatesList{
    justify-content: right;
    max-height: var(--container-height);
    border-radius: 5px;
    scroll-snap-type: y mandatory;
    overscroll-behavior-y: contain;
    overflow-x: hidden;
    overflow-y: auto;
    margin:10px;
    box-shadow: inset;
    box-sizing: border-box;
   } 

   .subordinates-table {
    width: 50%; 
    margin: 20px auto; 
    border-collapse: collapse;
  }

    .subordinates-table th {
    background-color: #84b0cd;
    text-align: left;
    padding: 10px;
    font-size: 18px;
  }

    .subordinates-table td {
    text-align: left;
    padding: 10px;
    font-size: 16px;
  }

  .option_part{
    text-align: center;
    font-size: 14px;
    margin-left: 30px;
    margin-right: 30px;
  }